# Keep development files out of GitHub release archives.
/.github            export-ignore
/.wordpress-org     export-ignore
/bin                export-ignore
/tests              export-ignore
/.distignore        export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.wp-env.json       export-ignore
/composer.json      export-ignore
/composer.lock      export-ignore
/docker-compose.yml export-ignore
/package.json       export-ignore
/phpcs.xml.dist     export-ignore
/phpunit.xml.dist   export-ignore
/phpunit-unit.xml.dist export-ignore

*.po  linguist-detectable=false
*.mo  binary
